<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.authuploadsystem.mapper.RoleMapper">

    <!--List<Long> selectToUserId(Long userId);-->
    <select id="selectToUserId" resultType="int">
        select a_user_role.role_id
        from a_user
                 join a_user_role
                      on a_user.id = a_user_role.admin_id
        where a_user.id = #{userId};
    </select>

    <!--int update(RoleUpdateDTO roleUpdateDTO);-->
    <update id="update">
        UPDATE a_role
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="sort!=null">sort=#{sort},</if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>
